<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>.:: Crypt0r Secure Payment Plateform ::.</title>
  <meta name="description" content="INSHACK CTF - Crypt0r Challenge Part 2">
  <meta name="author" content="OVH SAS">

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="css/style.css">

  <link rel="icon" type="image/png" href="images/favicon.png">

</head>
<body>

  <div class="container">
      <h3>.:: Crypt0r ::.</h3>
      <h4>Secure Payment Platform</h4>

      <div class="box">
	<h5>Nope !</h5>

	<p>{{ error }}</p>

      </div>
      
      <img src="images/pci-dss.png" alt="pci-dss">
  </div>

</body>
</html>
