<html>
    <head>
        <title>Crypt0r | Oooops, your files have been encrypted!</title>
    </head>
    <body>
        <h1>Oooops, your files have been encrypted!</h1>
        <h2>What Happened to My Computer?</h2>
            <p>
                Your important files are encrypted.<br>
                Many of your documents, photos, videos, databases and other files are no longer accessible because they have been encrypted.<br>
                Maybe you are busy looking for a way to recover your files, but do not waste your time. Nobody can recover your files without our decryption service.
            </p>
        <h2>Can I Revover My Files?</h2>
            <p>
                Sure. We guarantee that you can recover all your files safely and easily. But you have not so enough time.<br>
                You can decrypt some of your files for free. Try now by clicking &lt;Decrypt a random file&gt;.<br>
                But if you want to decrypt all your files, you need to pay.<br>
                You only have 3 days to submit the payment. After that the price will be doubled.<br>
                Also, if you don't pay in 7 days, you won't be able to recover your files forever.<br>
                We will have free events for users who are so poor that they couldn't pay in 6 months.
            </P>
        <h2>How Do I Pay?</h2>
            <p>
            Payment is accepted by <b>INSACoin</b> only. According to our expert system you currently have <b>{}IC</b>. Let's decrypt some of your files:
            </p>
            <form action="/pay?cost=5&file=1" method="POST">
                <input type="submit" value="Decrypt me_and_Gary_McKinnon">
            </form>
            <form action="/pay?cost=50&file=2" method="POST">
                <input type="submit" value="Decrypt me_and_LulzSec">
            </form>
            <form action="/pay?cost=500&file=3" method="POST">
                <input type="submit" value="Decrypt me_and_Bpgnir_Xynon">
            </form>
        <button onclick="alert('Haha, what did you think? You gotta pay.')">Decrypt a random file</button>
        <h2>Last but not least</h2>
            <p>
            We know you <i>{}</i>! We are watching you and you can't escape. Please pay <s>as much as you can</s> the required amount, and everything will be alright.
            </p>
            <h3>Maybe we don't have your real name?</h3>
            Please provide it to us :)
            <form method="POST" action="/change-name">
                <label for="name">Your real name:</label>
                <input id="name" name="name" value="Anonymous">
                <input type="submit" value="Gimme">
            </form>
    </body>
</html>

