# Munin hosts.
{% for group in groups %}
{% if group in monitored_groups %}
{% for host in groups[group] %}
[{{ hostvars[host]['ansible_fqdn'] }}]
    address {{ host }}
{% if host.extra is defined %}
{% for extra in host.extra %}
    {{ extra }}
{% endfor %}
{% endif %}

{% endfor %}
{% endif %}
{% endfor %}
